{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "linebreak-style": "off",
        "quotes": "off",
        "max-len": "off",
        "arrow-parens": "off",
        "indent": "off",
        "comma-dangle": "off",
        "eol-last": ["error", "never"],
        "require-jsdoc": "off",
        "no-trailing-spaces": "off",
        "object-curly-spacing": "off" ,
        "spaced-comment": "off",
        "operator-linebreak": "off",
        "no-debugger": "off"

        
    },
    "extends": ["eslint:recommended", "google"],
}